/** @format */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: 58px;
      width: auto;
      object-fit: cover;
    }
  }
  .menu {
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .item {
        & > * {
          font-weight: 500;
          width: 180px;
          color: var(--icon-color);

          &:hover {
            color: #fff;
            background-color: #ff993c;
          }
        }
      }

      .active > * {
        background-color: #ff993c;
        color: #fff;
      }
    }
  }
}
